<!DOCTYPE html>

<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
        <script type="text/javascript" src="../static/js/china_map.js"></script>
    </head>
    <body style="height: 100%; margin: 0">
        <div id="main" style="height: 100%"></div>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));
            $.get('http://192.168.31.11:173/get_city_table',
            function(data) {
                myChart.hideLoading();
                var routes = new Array();
                for(let i = 0; i < data.cities.length; i++)
                {
                    for(let j = 0; j < data.cities[i][1]; j++)
                    {
                        routes.push([[data.cities[i][4], data.cities[i][5]], [data.cities[7][4], data.cities[7][5]]])
                    }
                }
                console.log(routes)
                myChart.setOption(option = {
                    backgroundColor: '#77787b',
                    title: {
                        text: 'ComicMap',
                        left: 'center',
                        textStyle: {
                            color: '#000'
                        }
                    },
                    geo: {
                        map: 'china',
                        roam: true,
                        label: {
                            emphasis: {
                                show: false
                            }
                        },
                        silent: true,
                        left: 0,
                        right: 0,
                        silent: true,
                        roam: true,
                        itemStyle: {
                            normal: {
                                borderColor: '#FFFAF0',
                                color: '#2A2A2A'
                            }
                        }
                    },
                    series: [
                    {
                        type: 'lines',
                        coordinateSystem: 'geo',
                        data: routes,
                        large: true,
                        largeThreshold: 100,
                        lineStyle: {
                            opacity: 0.05,
                            width: 0.5,
                            curveness: 0.3,
                            colorBy: '#f15a22'
                        },
                        blendMode: 'lighter'
                    }]
                });
            })
        </script>
    </body>
</html>
