<!DOCTYPE html>

<html style="height: 100%">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
        <script type="text/javascript" src="../static/js/china_map.js"></script>
    </head>
    <body style="height: 100%; margin: 0">
        <div id="main" style="height: 100%"></div>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));
            $.get('http://192.168.31.11:173/get_line_json',
            function(data) {
                myChart.setOption(option = {
                    backgroundColor: '#4B0082',
                    title: {
                        text: 'ComicMap',
                        left: 'center',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        formatter: function(param) {
                            var route = data.routes[param.dataIndex];
                            return (data.cities[route[0]][0] + ' > ' + data.cities[route[1]][0]);
                        }
                    },
                    geo: {
                        map: 'china',
                        roam: true,
                        label: {
                            emphasis: {
                                show: false
                            }
                        },
                        silent: true,
                        left: 0,
                        right: 0,
                        silent: true,
                        roam: true,
                        itemStyle: {
                            normal: {
                                borderColor: '#FFFAF0',
                                color: '#F4A460'
                            }
                        }
                    },
                    series: [{
                        type: 'scatterGL',
                        progressive: 1e6,
                        coordinateSystem: 'geo',
                        symbol: 'circle',
                        symbolSize: 1,
                        zoomScale: 0.002,
                        blendMode: 'lighter',
                        large: true,
                        itemStyle: {
                            color: 'rgb(175, 238, 238)'
                        },
                        postEffect: {
                            enable: true
                        },
                        silent: true,
                        dimensions: ['lng', 'lat'],
                        data: new Float32Array()
                    },
                    {
                        type: 'lines',
                        coordinateSystem: 'geo',
                        large: true,
                        largeThreshold: 100,
                        lineStyle: {
                            opacity: 0.7,
                            width: 0.5,
                            curveness: 0.3
                        },
                        blendMode: 'lighter'
                    }]
                });

                var httpRequest = new XMLHttpRequest();
                httpRequest.open('GET', 'http://192.168.31.11:173/get_point_json', true);
                httpRequest.send();
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                        var json = eval("(" + httpRequest.responseText + ")");
                        myChart.appendData({
                            seriesIndex: 0,
                            data: json['gps']
                        });
                    }
                };

                var httpRequest_line = new XMLHttpRequest();
                httpRequest_line.open('GET', 'http://192.168.31.11:173/get_line_json', true);
                httpRequest_line.send();
                httpRequest_line.onreadystatechange = function() {
                    if (httpRequest_line.readyState == 4 && httpRequest_line.status == 200) {
                        myChart.hideLoading();
                        function getAirportCoord(idx) {
                            console.log(data.cities);
                            return [data.cities[idx][1], data.cities[idx][2]];
                        }
                            var routes = data.routes.map(function(Underline) {
                            return [getAirportCoord(Underline[0]), getAirportCoord(Underline[1])];
                        });
                        myChart.appendData({
                            seriesIndex: 1,
                            data: routes
                        });
                    }
                };
            })
        </script>
    </body>
</html>
