<!DOCTYPE html>
<html style="height: 100%">
 <head>
  <meta charset="utf-8" />
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  <script type="text/javascript" src="../static/js/china_map.js"></script>
 </head>
 <body style="height: 100%; margin: 0">
  <div id="header" style="background-color:#FFA500;">
   <h1 style="margin-bottom:0;">Comic Map</h1>
  </div>
  <div id="main" style="background-color:#EEEEEE;height:100%;width:100%;"></div>
  <script type="text/javascript">
   function test(num) {
     var myChart = echarts.init(document.getElementById('main'));
     var chartDom = document.getElementById('main');
     var option;
     myChart.showLoading();
     if (num == 1) {
         $.get('http://192.168.31.11:173/geo_china_json',
         function(chinaJson) {
             myChart.hideLoading();
             echarts.registerMap('China', chinaJson);
             $.get('http://192.168.31.11:173/get_data',
             function(data){
                 data = eval(data);
                 console.log(data)
                 data.sort(function(a, b) {
                     return a.value - b.value;
                 });
                 const mapOption = {
                     title: {
                         text: 'USA Population Estimates (2012)',
                         subtext: 'Data from www.census.gov',
                         sublink: 'http://www.census.gov/popest/data/datasets.html',
                         left: 'right'
                     },
                     tooltip: {
                         trigger: 'item',
                         showDelay: 0,
                         transitionDuration: 0.2,
                         formatter: function(params) {
                             const value = (params.value + '').split('.');
                             const valueStr = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
                             return params.seriesName + '<br/>' + params.name + ': ' + valueStr;
                         }
                     },
                     visualMap: {
                         left: 'right',
                         min: 0,
                         max: 380000,
                         inRange: {
                             color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                         },
                         text: ['High', 'Low'],
                         calculable: true
                     },
                     series: [{
                         name: 'USA PopEstimates',
                         id: 'population',
                         type: 'map',
                         roam: true,
                         map: 'China',
                         animationDurationUpdate: 1000,
                         universalTransition: true,
                         emphasis: {
                             label: {
                                 show: true
                             }
                         },
                         data: data
                     }]
                 };
                 const barOption = {
                     xAxis: {
                         type: 'value'
                     },
                     yAxis: {
                         type: 'category',
                         axisLabel: {
                             rotate: 30
                         },
                         data: data.map(function(item) {
                             return item.name;
                         })
                     },
                     animationDurationUpdate: 1000,
                     series: {
                         type: 'bar',
                         id: 'population',
                         data: data.map(function(item) {
                             return item.value;
                         }),
                         universalTransition: true
                     }
                 };
                 let currentOption = barOption;
                 myChart.setOption(currentOption);
                 currentOption = currentOption === mapOption ? barOption: mapOption;
                 myChart.setOption(currentOption, true);
             })

         });
     }
     else if (num == 2){
         $.get('http://192.168.31.11:173/geo_china_json',
         function(chinaJson) {
             myChart.hideLoading();
             echarts.registerMap('China', chinaJson);
             $.get('http://192.168.31.11:173/get_data',
             function(data){
                 data = eval(data);
                 data.sort(function(a, b) {
                     return a.value - b.value;
                 });
                 const mapOption = {
                     title: {
                         text: 'USA Population Estimates (2012)',
                         subtext: 'Data from www.census.gov',
                         sublink: 'http://www.census.gov/popest/data/datasets.html',
                         left: 'right'
                     },
                     tooltip: {
                         trigger: 'item',
                         showDelay: 0,
                         transitionDuration: 0.2,
                         formatter: function(params) {
                             const value = (params.value + '').split('.');
                             const valueStr = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
                             return params.seriesName + '<br/>' + params.name + ': ' + valueStr;
                         }
                     },
                     visualMap: {
                         left: 'right',
                         min: 0,
                         max: 380000,
                         inRange: {
                             color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                         },
                         text: ['High', 'Low'],
                         calculable: true
                     },
                     series: [{
                         name: 'USA PopEstimates',
                         id: 'population',
                         type: 'map',
                         roam: true,
                         map: 'China',
                         animationDurationUpdate: 1000,
                         universalTransition: true,
                         emphasis: {
                             label: {
                                 show: true
                             }
                         },
                         data: data
                     }]
                 };
                 const barOption = {
                     xAxis: {
                         type: 'value'
                     },
                     yAxis: {
                         type: 'category',
                         axisLabel: {
                             rotate: 30
                         },
                         data: data.map(function(item) {
                             return item.name;
                         })
                     },
                     animationDurationUpdate: 1000,
                     series: {
                         type: 'bar',
                         id: 'population',
                         data: data.map(function(item) {
                             return item.value;
                         }),
                         universalTransition: true
                     }
                 };
                 let currentOption = mapOption;
                 myChart.setOption(currentOption);
                 currentOption = currentOption === mapOption ? barOption: mapOption;
                 myChart.setOption(currentOption, true);
             })

         });
     }
     option && myChart.setOption(option);
 }
  </script>
  <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
   <input type="button" onclick="test(1)" value="点击1" />
   <input type="button" onclick="test(2)" value="点击2" />
  </div>
 </body>
</html>